<%- include("../partials/head.ejs") %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <%- include('../partials/aside.ejs')%>
                <div class="content-wrapper">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" aria-current="page" href="#contato">Contato</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#endereco">Endereço</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#agendamentos">Agendamentos/Reuniões</a>
                        </li>

                    </ul>
                    <div class="card-body col-md-12">
                        <!-- <form method="post" action="/contatos"> -->
                        <div class="tab-content">

                            <div id="contato" class=" tab-pane active">
                                <div class="card">
                                    <table class="table table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Foto</th>
                                                <th scope="col">Tratamento</th>
                                                <th scope="col">Sigla</th>
                                                <th class="col-3">Nome de Guerra</th>
                                                <th scope="col">Cargo/Função</th>
                                                <th scope="col">Matrícula</th>
                                                <th scope="col">Unidade</th>
                                                <th scope="col">Sigla</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <% datas.forEach(data=>{%>
                                                    <td><img src="/img/policial.png" style="height:50px"></td>
                                                    <td width="10%" scope="row">
                                                        <%= data.cargo_descricao%>
                                                    </td>
                                                    <td>
                                                        <%= data.cargo_sigla%>
                                                    </td>
                                                    <td>
                                                        <%= data.nome_guerra_sgp%>
                                                    </td>
                                                    <td>
                                                        <%= data.funcao_descricao%>
                                                    </td>
                                                    <td>
                                                        <%= data.matricula%>
                                                    </td>
                                                    <td>
                                                        <%= data.org_nome%>
                                                    </td>
                                                    <td>
                                                        <%= data.org_sigla%>
                                                    </td>
                                            </tr>
                                            <tr>

                                        </tbody>
                                    </table>

                                    <table class="table table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nome Completo</th>
                                                <th scope="col">Data de Nascimento</th>
                                                <th scope="col">Órgão</th>
                                                <th scope="col">Sigla</th>
                                                <th scope="col">Data de ingresso</th>
                                                <th scope="col">Situação</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= data.nome_completo%>
                                                </td>
                                                <td>
                                                    <%= data.data_nasc%>
                                                </td>
                                                <td>
                                                    <%= data.orgao_descricao%>
                                                </td>
                                                <td>
                                                    <%= data.orgao_sigla%>
                                                </td>
                                                <td>
                                                    <%= data.data_ingresso_sgp%>
                                                </td>
                                                <td>
                                                    <%= data.situacao_ativacao%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Telefone Funcional</th>
                                                <th>Email Funcional</th>
                                                <th>Telefone Particular</th>
                                                <th>Email Particular</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= data.telefone_contato %>
                                                </td>
                                                <td>
                                                    <%= data.email_funcional %>
                                                </td>
                                               
                                                <td>
                                                    <%= data.telefone_celular%>
                                                </td>
                                                <td>
                                                    <%= data.email_pessoal %>
                                                </td>


                                                <td>
                                                    <a href="#" data-target="#myModal1" data-toggle="modal">
                                                        <spam class="fa fa-edit"></spam>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Editar
                                                        Telefone e email
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tel Particular:
                                                    <input class="form-control form-control-sm" type="tel"
                                                        placeholder="(81)9########">
                                                    Email Pessoal:
                                                    <input class="form-control form-control-sm" type="email">
                                                    Seção/Diretoria
                                                    <input class="form-control form-control-sm" type="text">
                                                    Tel/ramal
                                                    <input class="form-control form-control-sm" type="tel"
                                                        placeholder="(81)3181-####">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Sair</button>
                                                    <button type="button" class="btn btn-primary">Salvar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Editar
                                                            dados
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bpm/òrgão
                                                        <input class="form-control form-control-sm" type="tel">
                                                        Sessão/diretoria
                                                        <input class="form-control form-control-sm" type="text">
                                                        Tel Func
                                                        <input class="form-control form-control-sm" type="tel">

                                                        Ramal
                                                        <input class="form-control form-control-sm" type="tel"
                                                            placeholder="(81)3181-####">

                                                        Email
                                                        <input class="form-control form-control-sm" type="email">

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save
                                                            changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>

                        <div id="endereco" class="container tab-pane fade">
                            <div class="card">
                                <table class="table table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>logradouro</th>
                                            <th>Número</th>
                                            <th>Bairro</th>
                                            <th>Cep</th>
                                            <th>P.ref</th>
                                            <th>Cidade</th>
                                            <th>Estado</th>
                                            <th>Sigla</th>
                                         
                                        </tr>
                                    <tbody>
                                        <td>
                                            <%= data.logradouro %>
                                        </td>
                                        <td>
                                            <%= data.numero %>
                                        </td>
                                        <td>
                                            <%= data.bairro %>
                                        </td>
                                        <td>
                                            <%= data.cep%>
                                        </td>
                                        <td>
                                            <%= data.ponto_referencia %>
                                        </td>
                                        <td>
                                            <%= data.cidade %>
                                        </td>
                                        <td>
                                            <%= data.estado%>
                                        </td>
                                      <td><%= data.estado_sigla%></td>

                                    </tbody>
                                    </thead>
                                </table>
                            </div>
                        </div>


                        <div class="container tab-pane fade" id="agendamentos">
                            <div class="card">
                                <div class="table_agendamentos">
                                    <table class="table table-sm table-striped bg-light">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Horário</th>
                                                <th>Assunto</th>
                                                <th>Local</th>
                                                <th>Recados</th>
                                                <th>Ações</th>

                                            </tr>

                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                        <!-- </form> -->
                </div>
        </div>
        </div>

        </div>

    </body>